* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
        sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin: 0 auto;
}

.btn {
    background-color: #fff;
    color: #000;
    border-radius: 4px;
}

.btn.active {
    background-color: red;
    color: #fff;
}
