.dropdown__filter {
    display: flex;
    margin-top: 48px;
    align-items: center;
    margin-bottom: 18px;
    h2 {
        margin: 0;
        font-weight: 600;
    }
}

.dropdown__filter .dropdown {
    margin: 0 8px;
}

.dropdown__filter .dropdown .btn,
.dropdown-menu li a {
    font-size: 1.8rem;
}
