.dropdown__filter {
    display: flex;
    // margin-top: 48px;
    align-items: center;
    // margin-bottom: 18px;

    padding: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    h2 {
        margin: 0;
        font-weight: 600;
    }
}

.dropdown__filter .dropdown {
    margin: 0 8px;
}

.dropdown__filter .dropdown .btn,
.dropdown-menu li a {
    font-size: 1.8rem;
}
