.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: $black-color;
    .header__menu {
        display: flex;
        align-items: center;
        .input-group {
            width: 50%;
        }
        a {
            margin: 0 6px;
            color: $black-color;
            font-size: 1.6rem;
            height: 30px;
        }
    }

    .header__log {
        a {
            margin: 0 6px;
            color: $black-color;
            font-size: 1.8rem;
        }
    }
}

header {
    background-color: $primary-color;
}
