.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #f6c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cfb1;
}

.mobile-category__link {
    line-height: 2rem;
    text-decoration: none;
    color: $white-color;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    width: 110px;
    height: 2rem * 2;
    border-radius: 4px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    user-select: none;
    --webkit-user-select: none;
}

.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: $white-color;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 145px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px 10px 8px 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    color: $white-color;
}

.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: $primary-color;
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    margin: 6px 10px 0;
    justify-content: space-between;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
}

.home-product-item__liked .home-product-item__like-icon-fill {
    display: inline-block;
    color: red;
}

.home-product-item__liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #ccc;
    margin: -1px 0 0 auto;
}

.home-product-item__star-gold {
    color: rgb(221, 221, 32);
}

.home-product-item__bought {
    font-size: 1.1rem;
    color: $white-color;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0 10px;
    color: #595959;
    font-size: 1.1rem;
    font-weight: 400;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: $primary-color;
    background-color: currentColor;
    font-size: 1rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    font-weight: 500;
}

.home-product-item__favourite span {
    color: $white-color;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 212, 36, 0.9);
    width: 40px;
    height: 36px;
    text-align: center;
    padding: 4px 2px 3px;
    font-size: 1.2rem;
}

.home-product-item__sale-off::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, 0.9) transparent
        rgba(255, 212, 36, 0.9);
}

.home-product-item__sale-off-percent {
    color: $primary-color;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: -2px;
}

.home-product-item__sale-off-label {
    color: $white-color;
    font-weight: 400;
    line-height: 1.3rem;
    position: relative;
    top: -3px;
}

.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}
