.products__bestseller {
    padding-top: 64px;
}
.produdcts {
    background-color: #f5f5f5;
}

    .products__bestseller--list-item {
        padding: 10px 10px 30px;
        border: 1px solid #ccc;
        position: relative;
        background-color: #fff;
        border-radius: 12px;

        img {
            margin: 10px 0 0;
            width: 160px;
            height: 160px;
            cursor: pointer;
        }
        .product__name {
            margin: 4px 0;
            color: $black-color;
            font-size: 1.8rem;
            // font-weight: 600;
            cursor: pointer;
            text-align: left;

            font-weight: 400;
            line-height: 1.8rem;
            height: 3.6rem;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
        }

        .product__intro {
            margin: 10px 0;
            text-align: left;

            span {
                padding: 6px;
                background-color: #fcfcfc;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1.2rem;
            }
        }

        .product__prices {
            .product__price-sale {
                color: $primary-color-text;
                font-weight: 400;
                font-size: 1.6rem;
                // display: block;
            }

            .product__price-default {
                text-decoration-line: line-through;
                font-size: 1.4rem;
            }

            .product__price-sale-percent {
                display: inline-block;
                color: red;
                text-align: center;
                margin-left: 12px;
                font-weight: bold;
            }
        }

        .product__favorites {
            margin-top: 12px;
            text-align: right;
            span {
                margin-right: 6px;
            }

            i {
                display: none;
            }
            i.active {
                display: inline-block;
            }
            i:hover {
                color: red;
                cursor: pointer;
            }

            i.fa-solid {
                color: red;
            }
        }

        .sale {
            position: absolute;
            top: 0;
            left: -6px;
            width: 60px;
            padding: 8px;
            background-color: red;
            border-bottom-right-radius: 30%;
            border-top-right-radius: 30%;
            color: $white-color;
            font-size: 1.2rem;
        }
    }
}

.products__bestseller--list-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a.seen__all {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.category {
    background-color: $white-color;
    border-radius: 2px;
    text-align: left;

    .category__heading {
        font-size: 1.7rem;
        color: $black-color;
        font-weight: 500;
        padding: 10px 16px;
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        .category__heading-icon {
            font-size: 1.6rem;
            margin-right: 6px;
        }
    }

    .category-list {
        padding: 0 0 8px 0;
        list-style: none;
        margin-left: 16px;

        .category-item {
            position: relative;

            &:first-child::before {
                display: none;
            }

            &::before {
                content: "";
                position: absolute;
                border-top: 1px solid #e1e1e1;
                top: 0;
                left: 10px;
                right: 16px;
            }

            .category-item__link {
                position: relative;
                text-decoration: none;
                font-size: 1.6rem;
                color: var(--text-color);
                padding: 8px 8px;
                display: block;
                transition: right linear 0.1s;
                right: 0;

                &:hover {
                    right: -4px;
                    color: red;
                }
            }

            &.category-item--active {
                .category-item__link {
                    color: red;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        border-width: 4px;
                        border: solid;
                        transform: translateY(-50%);
                        border-color: transparent transparent transparent red;
                    }
                }
            }
        }
    }
