.carousel {
    padding: 64px 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.carousel-item.trademark.active {
    display: flex;
    justify-content: space-between;
}

.carousel-inner .carousel-item.trademark img {
    width: 23%;
    height: 160px;
    border: 1px solid #ccc;
    margin: 0 4px;
}

.carousel-indicators [data-bs-target] {
    background-color: #e90000;
}

// .carousel-indicators {
//     bottom: -45px;
// }
