* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  margin: 0 auto;
}

.btn {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}

.btn.active {
  background-color: red;
  color: #fff;
}

.l-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.gutter {
  margin-left: -5px;
  margin-right: -5px;
}

.col-lg-10 {
  margin-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #000;
}
.header .header__menu {
  display: flex;
  align-items: center;
}
.header .header__menu .input-group {
  width: 340px;
  height: 50px;
  border-radius: 12px;
}
.header .header__menu .input-group input,
.header .header__menu .input-group button {
  border-radius: 12px;
  outline: none;
  border: none;
}
.header .header__menu a {
  margin: 0 12px;
  color: #000;
  font-size: 1.6rem;
}
.header .header__log a {
  margin: 0 6px;
  color: #000;
  font-size: 1.8rem;
}

header {
  background-color: #f5f5f5;
}

.banner {
  margin-bottom: 24px;
}

.carousel-item img {
  height: 80vh;
  width: 100%;
}

.slide__trademark {
  padding: 64px 0;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.carousel-item.trademark.active {
  display: flex;
  justify-content: space-between;
}

.carousel-inner .carousel-item.trademark img {
  width: 23%;
  height: 160px;
  border: 1px solid #ccc;
  margin: 0 4px;
}

.carousel-indicators [data-bs-target] {
  background-color: #e90000;
}

.dropdown__filter {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.05);
}
.dropdown__filter.filter {
  background-color: #fff;
}
.dropdown__filter span {
  font-size: 1.3rem;
  margin-right: 24px;
}

.dropdown__filter .dropdown {
  margin: 0 8px;
}

.dropdown__filter .dropdown .btn,
.dropdown-menu li a {
  font-size: 1.4rem;
}

.products__bestseller {
  padding-top: 64px;
}

.produdcts {
  background-color: #f5f5f5;
}

.products__bestseller--list-item {
  padding: 10px 10px 30px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
}
.products__bestseller--list-item img {
  margin: 10px 0 0;
  width: 160px;
  height: 160px;
  cursor: pointer;
}
.products__bestseller--list-item .product__name {
  margin: 4px 0;
  color: #000;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: left;
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.products__bestseller--list-item .product__intro {
  margin: 10px 0;
  text-align: left;
}
.products__bestseller--list-item .product__intro span {
  padding: 6px;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
}
.products__bestseller--list-item .product__prices .product__price-sale {
  color: rgb(249, 35, 35);
  font-weight: 400;
  font-size: 1.6rem;
}
.products__bestseller--list-item .product__prices .product__price-default {
  text-decoration-line: line-through;
  font-size: 1.4rem;
}
.products__bestseller--list-item .product__prices .product__price-sale-percent {
  display: inline-block;
  color: red;
  text-align: center;
  margin-left: 12px;
  font-weight: bold;
}
.products__bestseller--list-item .product__favorites {
  margin-top: 12px;
  text-align: right;
}
.products__bestseller--list-item .product__favorites span {
  margin-right: 6px;
}
.products__bestseller--list-item .product__favorites i {
  display: none;
}
.products__bestseller--list-item .product__favorites i.active {
  display: inline-block;
}
.products__bestseller--list-item .product__favorites i:hover {
  color: red;
  cursor: pointer;
}
.products__bestseller--list-item .product__favorites i.fa-solid {
  color: red;
}
.products__bestseller--list-item .sale {
  position: absolute;
  top: 0;
  left: -6px;
  width: 60px;
  padding: 8px;
  background-color: red;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  color: #fff;
  font-size: 1.2rem;
}

.products__bestseller--list-item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a.seen__all {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.category {
  background-color: #fff;
  border-radius: 2px;
  text-align: left;
}
.category .category__heading {
  font-size: 1.7rem;
  color: #000;
  font-weight: 500;
  padding: 10px 16px;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category .category__heading .category__heading-icon {
  font-size: 1.6rem;
  margin-right: 6px;
}
.category .category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 16px;
}
.category .category-list .category-item {
  position: relative;
}
.category .category-list .category-item:first-child::before {
  display: none;
}
.category .category-list .category-item::before {
  content: "";
  position: absolute;
  border-top: 1px solid #e1e1e1;
  top: 0;
  left: 10px;
  right: 16px;
}
.category .category-list .category-item .category-item__link {
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 8px 8px;
  display: block;
  transition: right linear 0.1s;
  right: 0;
}
.category .category-list .category-item .category-item__link:hover {
  right: -4px;
  color: red;
}
.category .category-list .category-item.category-item--active .category-item__link {
  color: red;
}
.category .category-list .category-item.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  border-width: 4px;
  border: solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent red;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.product__prices {
  text-align: left;
}

footer {
  border-top: 3px solid rgb(249, 35, 35);
  padding-top: 24px;
}

.footer {
  padding-top: 12px;
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: rgb(249, 35, 35);
}

.footer-item__link-icon {
  font-size: 1.5rem;
  margin-top: -1px;
  margin-right: 10px;
}

.footer__pay {
  display: flex;
  flex-wrap: wrap;
}

.footer__pay-img {
  width: 80px;
  height: 40px;
  border: 1px solid #ccc;
  margin: 6px;
}

.footer__bottom {
  padding: 8px 0;
  background-color: #f5f5f5;
  margin-top: 4px;
}

.footer__text {
  text-align: center;
  font-size: 1.2rem;
}

/*# sourceMappingURL=styles.css.map */
