.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: var(--white-color);
}

header {
    background-color: rgba(22, 22, 23, 0.8);
}

.form-control {
    width: 400px;
    border-radius: 8px;
}

.btn-search {
    border-radius: 8px;
}

.navbar-brand--link a {
    margin: 0 8px;
}

.header__menu a,
.header__log a {
    margin: 0 6px;
    color: rgba(255, 255, 255, 0.8);

    font-size: 1.8rem;
}

.header__menu a i {
    font-size: 1.2rem;
}

.banner {
    margin-bottom: 24px;
}

.carousel-item img {
    height: 80vh;
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.carousel-item.trademark.active {
    display: flex;
    justify-content: space-between;
}

.carousel-inner .carousel-item.trademark img {
    width: 23%;
    height: 160px;
    border: 1px solid #ccc;
    margin: 0 4px;
}

.carousel-indicators [data-bs-target] {
    background-color: #e90000;
}

.carousel-indicators {
    bottom: -45px;
}

.dropdown__filter {
    display: flex;
    margin-top: 48px;
}

.dropdown__filter .dropdown {
    margin: 0 8px;
}

.dropdown__filter .dropdown .btn,
.dropdown-menu li a {
    font-size: 1.8rem;
}
